# Java ve Maven için
target/
*.class

# IDE ayar dosyaları
*.iml
.idea/
.project
.classpath
.settings/

# Logs
*.log

# STS workspace dosyaları
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
bin/

# OS files
.DS_Store
Thumbs.db

